<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="/css/forms.css">
  <title>NPC Form</title>
</head>
<body>
<div th:fragment="npcForm">
  <form id="npcForm" th:action="${formAction}" th:method="${formMethod}" th:object="${npcForm}" class="container">
    <div class="accordion" id="npcAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            BASIC INFORMATION
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6">
                <!-- Left column -->
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" name="name" class="form-control" th:value="${npcForm.name}" required>

                <label for="species" class="form-label">Species</label>
                <select id="species" name="species" class="form-select" required>
                  <option th:each="species : ${T(com.npcvillagers.npcvillage.models.enums.Species).values()}"
                          th:if="${!species.name().startsWith('ANY')}"
                          th:value="${species.name()}"
                          th:text="${species.getDisplayName()}"
                          th:selected="${species.name() == npcForm.species.name()}">Species</option>
                </select>

                <label for="subspecies" class="form-label">Subspecies</label>
                <select id="subspecies" name="subspecies" class="form-select" th:data-saved-value="${npcForm.subspecies}" required>
                  <!-- Subspecies options populated here by JavaScript -->
                </select>

                <label for="alignment" class="form-label">Alignment</label>
                <select id="alignment" name="alignment" class="form-select" required>
                  <option th:each="alignment : ${T(com.npcvillagers.npcvillage.models.enums.Alignment).values()}"
                          th:if="${!alignment.name().startsWith('ANY')}"
                          th:value="${alignment.name()}"
                          th:text="${alignment.getDisplayName()}"
                          th:selected="${alignment.name() == npcForm.alignment.name()}">Alignment</option>
                </select>

                <label for="gender" class="form-label">Gender</label>
                <select id="gender" name="gender" class="form-select" required>
                  <option th:each="gender : ${T(com.npcvillagers.npcvillage.models.enums.Gender).values()}"
                          th:if="${!gender.name().startsWith('ANY')}"
                          th:value="${gender.name()}"
                          th:text="${gender.getDisplayName()}"
                          th:selected="${gender.name() == npcForm.gender.name()}">Gender</option>
                </select>

                <label for="ageCategory" class="form-label">Age</label>
                <select id="ageCategory" name="ageCategory" class="form-select" required>
                  <option th:each="ageCategory : ${T(com.npcvillagers.npcvillage.models.enums.AgeCategory).values()}"
                          th:if="${!ageCategory.name().startsWith('ANY')}"
                          th:value="${ageCategory.name()}"
                          th:text="${ageCategory.getDisplayName()}"
                          th:selected="${ageCategory.name() == npcForm.ageCategory.name()}">Age</option>
                </select>

                <div id="customAgeDiv" style="display: none;">
                  <label for="customAge" class="form-label">Custom Age</label>
                  <input type="text" id="customAge" name="customAge" class="form-control" th:value="${npcForm.customAge}">
                </div>

              </div>
              <div class="col-md-6">
                <!-- Right column -->
                <label for="campaignStyle" class="form-label">Campaign Style</label>
                <select id="campaignStyle" name="campaignStyle" class="form-select" required>
                  <option th:each="campaignStyle : ${T(com.npcvillagers.npcvillage.models.enums.CampaignStyle).values()}"
                          th:if="${!campaignStyle.name().startsWith('ANY')}"
                          th:value="${campaignStyle.name()}"
                          th:text="${campaignStyle.getDisplayName()}"
                          th:selected="${campaignStyle.name() == npcForm.campaignStyle.name()}">Campaign Style</option>
                </select>

                <label for="playerRelationship" class="form-label">Player Relationship</label>
                <select id="playerRelationship" name="playerRelationship" class="form-select" required>
                  <option th:each="playerRelationship : ${T(com.npcvillagers.npcvillage.models.enums.PlayerRelationship).values()}"
                          th:if="${!playerRelationship.name().startsWith('ANY')}"
                          th:value="${playerRelationship.name()}"
                          th:text="${playerRelationship.getDisplayName()}"
                          th:selected="${playerRelationship.name() == npcForm.playerRelationship.name()}">Player Relationship</option>
                </select>

                <label for="characterClass" class="form-label">Character Class</label>
                <select id="characterClass" name="characterClass" class="form-select" required>
                  <option th:each="characterClass : ${T(com.npcvillagers.npcvillage.models.enums.CharacterClass).values()}"
                          th:if="${!characterClass.name().startsWith('ANY')}"
                          th:value="${characterClass.name()}"
                          th:text="${characterClass.getDisplayName()}"
                          th:selected="${characterClass.name() == npcForm.characterClass.name()}">Character Class</option>
                </select>

                <label for="occupationCategory" class="form-label">Occupation</label>
                <select id="occupationCategory" name="occupationCategory" class="form-select" required>
                  <option th:each="occupationCategory : ${T(com.npcvillagers.npcvillage.models.enums.OccupationCategory).values()}"
                          th:if="${!occupationCategory.name().startsWith('ANY')}"
                          th:value="${occupationCategory.name()}"
                          th:text="${occupationCategory.getDisplayName()}"
                          th:selected="${occupationCategory.name() == npcForm.occupationCategory.name()}">Occupation</option>
                </select>
                <div id="customOccupationDiv" style="display: none;">
                  <label for="customOccupation" class="form-label">Custom Occupation</label>
                  <input type="text" id="customOccupation" name="customOccupation" class="form-control" th:value="${npcForm.customOccupation}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Roleplay Information
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" >
            <div class="accordion-body">
              <div>
                <label for="voice" class="form-label">Voice</label>
                <input type="text" id="voice" name="voice" class="form-control" th:value="${npcForm.voice}" required>
              </div>
              <div>
                <label for="appearance" class="form-label">Appearance</label>
                <textarea id="appearance" name="appearance" class="form-control tall" th:text="${npcForm.appearance}" required></textarea>
              </div>
              <div>
                <label for="personality" class="form-label">Personality</label>
                <textarea id="personality" name="personality" class="form-control tall" th:text="${npcForm.personality}" required></textarea>
              </div>
              <div>
                <label for="motivation" class="form-label">Motivation</label>
                <textarea type="text" id="motivation" name="motivation" class="form-control tall" th:text="${npcForm.motivation}" required></textarea>
              </div>
              <div>
                <label for="history" class="form-label">History</label>
                <textarea type="text" id="history" name="history" class="form-control tall" th:text="${npcForm.history}" required></textarea>
              </div>
              <div>
                <label for="ideal" class="form-label">Ideal</label>
                <input type="text" id="ideal" name="ideal" class="form-control" th:value="${npcForm.ideal}" required>
              </div>
              <div>
                <label for="bond" class="form-label">Bond</label>
                <input type="text" id="bond" name="bond" class="form-control" th:value="${npcForm.bond}" required>
              </div>
              <div>
                <label for="flaw" class="form-label">Flaw</label>
                <input type="text" id="flaw" name="flaw" class="form-control" th:value="${npcForm.flaw}" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="create-submit-div">
      <input type="submit" class="btn btn-primary" th:value="${submitButtonText}" />
      <input type="submit" class="btn btn-secondary" th:value="${cancelButtonText}"/>
    </div>
  </form>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script th:src="@{/js/npcForm.js}"></script>
</div>
</body>
</html>



