<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
  <nav>
    <a href="/">Home</a>
    <span th:if="${username}">
                | <span class="username">Welcome, <span th:text="${username}"></span></span>
                | <a href="/create">Create NPC</a>
<!--                | <a href="/village">My Village</a>-->
                | <a href="/profile">My Profile</a>
                | <a href="/logout">Logout</a>

<!--                | action="/logout" method="post" style="display:inline;">-->
<!--                    <input type="submit" value="Logout">-->
<!--                </form>-->
            </span>
    <span th:unless="${username}">
                | <a href="/login">Login</a>
                | <a href="/signup">Sign up</a>
            </span>
<!--      <span th:if="!${username}">-->
<!--          | <a href-->
<!--      </span>-->

  </nav>
</div>
</body>
</html>