<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="npcForm">
    <form id="npcForm" th:action="${formAction}" th:method="${formMethod}" th:object="${npc}">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{npc.name}" th:value=${npc.name}" required>Name</input>

        <label for="species">Species</label>
        <select id="species" th:field="*{npc.species}" required>
            <option th:each="species : ${T(com.npcvillagers.npcvillage.models.enums.Species).values()}"
                    th:value="${species.name()}" th:text="${species.getDisplayName()}">Species</option>
        </select>

        <label for="subspecies">Subspecies</label>
        <select id="subspecies" th:field="*{npc.subspecies}" required>
            <!-- Subspecies options populated here by JavaScript -->
        </select>

        <label for="gender">Gender</label>
        <select id="gender" th:field="*{npc.gender}" required>
            <option th:each="gender : ${T(com.npcvillagers.npcvillage.models.enums.Gender).values()}"
                    th:value="${npc.gender.name()}" th:text="${npc.gender.getDisplayName()}" />Gender</option>
        </select>


        <label for="gender">Gender</label>
        <select id="gender" th:field="*{npc.gender}" required>
            <option th:each="gender : ${T(com.npcvillagers.npcvillage.models.enums.Gender).values()}"
                    th:value="${npc.gender.name()}" th:text="${npc.gender.getDisplayName()}" />Gender</option>
        </select>

        <label for="age">Age</label>
        <select id="age" th:field="*{npc.ageCategory}" required>
            <option th:each="age : ${T(com.npcvillagers.npcvillage.models.enums.Age).values()}"
                    th:value="${npc.ageCategory.name()}" th:text="${npc.ageCategory.getDisplayName()}">Age</option>
        </select>

        <div th:if="${npc.ageCategory == 'CUSTOM'}">
            <label for="customAge">Custom Age:</label>
            <input type="text" id="customAge" th:field="${npc.customAge}" />
        </div>

        <select id="occupation" th:field="*{npc.occupationCategory}" required>
            <option th:each="occupation : ${T(com.npcvillagers.npcvillage.models.enums.Occupation).values()}"
                    th:value="${npc.occupationCategory.name()}" th:text="${npc.occupationCategory.getDisplayName()}">Occupation</option>
        </select>

        <div th:if="${npc.occupationCategory == 'CUSTOM'}">
            <label for="customOccupation">Custom Occupation:</label>
            <input type="text" id="customOccupation" th:field="${npc.customOccupation}" />
        </div>

        <!-- Add other fields in the same way -->
        <!-- ... -->

        <input type="submit" th:value="${submitButtonText}" />
    </form>
</div>
</body>
</html>
