<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="npcForm">
    <form id="npcForm" th:action="${formAction}" th:method="${formMethod}" th:object="${npc}">
        <label for="name">Name</label>
        <input type="text" id="name" th:value="${npc.name}" required>

        <label for="species">Species</label>
        <select id="species" required>
            <option th:each="species : ${T(com.npcvillagers.npcvillage.models.enums.Species).values()}"
                    th:value="${species.name()}" th:text="${species.getDisplayName()}">Species</option>
        </select>

        <label for="subspecies">Subspecies</label>
        <select id="subspecies"  required>
            <!-- Subspecies options populated here by JavaScript -->
        </select>

        <label for="gender">Gender</label>
        <select id="gender" required>
            <option th:each="gender : ${T(com.npcvillagers.npcvillage.models.enums.Gender).values()}"
                    th:value="${gender.name()}" th:text="${gender.getDisplayName()}" />Gender</option>
        </select>

        <label for="age">Age</label>
        <select id="age" required>
            <option th:each="ageCategory : ${T(com.npcvillagers.npcvillage.models.enums.AgeCategory).values()}"
                    th:value="${ageCategory.name()}" th:text="${ageCategory.getDisplayName()}">Age</option>
        </select>

        <div th:if="${npc.ageCategory == 'CUSTOM'}">
            <label for="customAge">Custom Age</label>
            <input type="text" id="customAge" th:value="${npc.customAge}">
        </div>

        <label for="occupation">Occupation</label>
        <select id="occupation"  required>
            <option th:each="occupationCategory : ${T(com.npcvillagers.npcvillage.models.enums.OccupationCategory).values()}"
                    th:value="${occupationCategory.name()}" th:text="${occupationCategory.getDisplayName()}">Occupation</option>
        </select>

        <div th:if="${npc.occupationCategory == 'CUSTOM'}">
            <label for="customOccupation">Custom Occupation:</label>
            <input type="text" id="customOccupation" th:value="${npc.customOccupation}">
        </div>

        <!-- Add other fields in the same way -->
        <!-- ... -->

        <input type="submit" th:value="${submitButtonText}" />
    </form>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/npcForm.js}"></script>
</div>
</body>
</html>
