<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>NPC Stat Block</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="npcStatBlock(npc)" class="card slim-card npc-stat-block">
  <div class="card-body">
<!--    <p class="card-text" id="card-name" th:text="${npc.name}"></p>-->
<!--    <p class="card-text" th:text="${npc.species.getDisplayName()}"></p>-->
<!--    <p class="card-text" th:if="${npc.subspecies != 'N/A'}" th:text="${npc.subspecies}"></p>-->
    <p><strong>Name:</strong> <span th:text="${npc.name}"></span></p>
    <p><strong>Species:</strong> <span th:text="${npc.species.getDisplayName()}"></span></p>
    <p><strong>Subspecies:</strong> <span th:text="${npc.subspecies}"></span></p>
      <p class="card-text"><strong>Gender:</strong> <span th:text="${npc.gender.getDisplayName()}"></span></p>
    <p class="card-text"><strong>Alignment:</strong> <span th:text="${npc.alignment.getDisplayName()}"></span></p>
    <p class="card-text"><strong>Player Relationship:</strong> <span th:text="${npc.playerRelationship.getDisplayName()}"></span></p>
    <p class="card-text"><strong>Voice:</strong> <span th:text="${npc.voice}"></span></p>
    <p class="card-text"><strong>Age:</strong> <span th:text="${npc.age}"></span></p>
    <p class="card-text"><strong>Occupation:</strong> <span th:text="${npc.occupation}"></span></p>
    <p class="card-text"><strong>Character Class:</strong> <span th:text="${npc.characterClass.getDisplayName()}"></span></p>
    <p class="card-text"><strong>Appearance:</strong> <span th:text="${npc.appearance}"></span></p>
    <p class="card-text"><strong>Personality:</strong> <span th:text="${npc.personality}"></span></p>
    <p class="card-text"><strong>Motivation:</strong> <span th:text="${npc.motivation}"></span></p>
    <p class="card-text"><strong>Ideal:</strong> <span th:text="${npc.ideal}"></span></p>
    <p class="card-text"><strong>Bond:</strong> <span th:text="${npc.bond}"></span></p>
    <p class="card-text"><strong>Flaw:</strong> <span th:text="${npc.flaw}"></span></p>
    <p class="card-text"><strong>History:</strong> <span th:text="${npc.history}"></span></p>
  </div>
</div>
</body>
</html>


