
body {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.splash-title {
    text-align: center;
    margin-bottom: 150px;
}

.welcome-title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(228, 7, 18);
    margin-bottom: 10px;
}

.welcome-title-npc {
    font-family: "Tiamat Condensed SC Regular", sans-serif;
    font-size: 144px;
    color: white;
}

.splash-intro {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.splash-intro h2 {
    font-family: "Tiamat Condensed SC Regular", sans-serif;
    font-size: 36px;
    color: white;
}

.splash-intro p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

.btn-create-account {
    background-color: rgb(228, 7, 18);
    color: white;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 30px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.25s ease;
    width: 280px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width:240px;
}

.btn-create-account:hover {
    background-color: rgb(181, 6, 15);
    color: white;
    text-decoration: none;
}