body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f1f0ed;
  font-family: Roboto, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 20px;
  text-align: center;
}

img {
  max-width: 100%;
}
