body {
background-color: black;
}

main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h1 {
color: red;
font-family: Roboto, Helvetica, sans-serif;
}

#card-body-1 {
display: flex;
justify-content: center;
align-items: center;
font-family: Roboto, Helvetica, sans-serif;
height: 20vw;
background-color: red;
}