
#navbarNav {
display: flex;
justify: space-between;
}

li {
text-decoration: none;
color: red;
}


#card-name {
 font-family: "Roboto", serif;

}

.card-title  {
 font-family:"fantasy";
 font:bold;

 }



