
#navbarNav {
display: flex;
justify: space-between;
}

header {
    margin-bottom: 20px;
}

li {
text-decoration: none;
color: red;
}

#card-name {
 font-family: "Roboto", serif;

}

.card-title  {
 font-family:"fantasy";
 font:bold;

 }

#bio {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Roboto, Helvetica, sans-serif;
}

