<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
<!--    <link rel="stylesheet" href="/css/styles.css">-->
</head>
<header>
<!--    <nav th:replace="fragments/navbar :: navbar"></nav>-->
</header>
<body>
<h1>Login</h1>
<!--<div th:replace="/fragments/error :: applicationUser-error"></div>-->
<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <br>
    <label>Password</label>
    <input type="password" name="password">

    <input type="submit" value="Login">
</form>
<p>Don't have an account? <a href="/signup">Sign up</a></p>
<p class="logout-success" th:if="${param.logout}">You have successfully logged out.</p>
</body>
</html>