<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="@{/css/styles.css}">
</head>
<body>
<header th:replace="~{fragments/nav-header :: navbar}"></header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Login</h1>
            <div th:replace="/fragments/error-fragment :: applicationUser-error"></div>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <br>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
            <p class="logout-success" th:if="${param.logout}">You have successfully logged out.</p>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer-fragment :: footer}">
</footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</body>
</html>
