<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NPC View</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<header>
  <nav th:replace="fragments/nav-header :: navbar"></nav>
</header>
<!--<div th:replace="/fragments/error :: error-page"></div>-->
<h1>Create NPC</h1>
<div th:replace="~{fragments/createNpcForm :: npcForm(formAction='/create', formMethod='post', npcForm=${npcForm}, submitButtonText='Create')}"></div>
<div th:replace="~{fragments/npcStatBlock :: npcStatBlock(${npc})}"></div>
<form action="/saveToMyVillage" method="POST">
  <input type="hidden" name="npcId" th:value="${npc.id}">
  <input type="hidden" name="npcForm" th:value="${npcForm}">
<!--  <input type="submit"  th:disabled="${isSaved}" th:value="${isSaved} ? 'Saved!' : 'Add to Village'">-->
  <button class="btn btn-primary add-to-village" type="submit" th:disabled="${isSaved}">
    <span th:text="${isSaved} ? 'Saved!' : 'Add to Village'"></span>
  </button>
</form>
<!--<footer th:replace="~{fragments/footer-fragment :: footer}">-->
<!--</footer>-->
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</body>
</html>