<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Team</title>
  <!--    <link rel="stylesheet" th:href="@{/css/styles.css}">-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />

</head>
<body>
<header>
  <nav th:replace="fragments/nav-header :: navbar"></nav>
</header>
<div th:replace="/fragments/error-fragment :: applicationUser-error"></div>
<h1>Meet The Team: NPC Village</h1>
<div class="bio-1">
    <article class="image-container">
      <img src="https://ca.slack-edge.com/T039KG69K-U04JC4UM9FZ-a9789f76b3ee-512" alt = "Picture of Alex Carr">
    </article>
    <p>Alex Carr is a veteran of the US Navy, a dedicated husband and father of three living in San Diego, CA. Being a Dev has allowed him to follow his passions and has opened new horizons for him and his family. In his career he is looking forward to meeting business men, women and companies with the common goals to inspire change with coding.</p>
</div>

<div class="bio-2">
    <article class="image-container">
      <img src="https://ca.slack-edge.com/T039KG69K-U04KGBWB3PS-7f8b716ee07f-512" alt = "Picture of Dasha Burgos">
    </article>
    <p>Dasha Burgos is a veteran who has been working in IT for several years. Despite her success in the field, she has always had a passion for coding and software development. She made the decision to attend a fullstack software development bootcamp to pursue her dream of becoming a software developer.  She applied her military experience to her studies and excelled in the program.  She is now a fullstack developer with a passion for creating dynamic and interactive user interfaces.  She is excited to continue her journey as a software developer and is looking forward to the challenges that lie ahead.</p>
</div>

<div class="bio-3">
    <article class="image-container">
      <img src="https://ca.slack-edge.com/T039KG69K-U042PA83F3L-2c5d93fefe50-512" alt = "Picture of Matthew Austin">
    </article>
    <p>I AM UNDOUBTEDLY INTELLIGENT!</p>
</div>

<div class="bio-4">
    <article class="image-container">
      <img src="https://ca.slack-edge.com/T039KG69K-U04H36HGNR2-b3593fad938b-512" alt = "Picture of Ryan Apodaca">
    </article>
    <p>I AM UNDOUBTEDLY INTELLIGENT!</p>
</div>
<footer th:replace="~{fragments/footer-fragment :: footer}">
</footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</body>

</html>