<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav th:replace="fragments/nav-header :: navbar"></nav>
</header>
<div th:replace="/fragments/error-fragment :: applicationUser-error"></div>
<h1>My Profile</h1>

<div class="profile-info">
    <img src="https://via.placeholder.com/150" alt="Profile Picture">
    <p><strong>Username:</strong> <span th:text="${username}"></span></p>
    <p><strong>First Name:</strong> <span th:text="${firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${lastName}"></span></p>
</div>
<div class="vertical-gap-2"></div>
<!--<h2>User's Posts</h2>-->
<!--<article th:each="post : ${user.posts}">-->
<!--    <p class="date" th:text="${post.createdAt}"></p>-->
<!--    <div class="postcontent-container">-->
<!--        <p th:text="${post.body}"></p>-->
<!--    </div>-->
<form th:action="${'/profile/' + id}" th:method="DELETE">

        <!--  use th:if to make sure the delete button is only visible on a user's own profile -->
    <input th:if="${username.equals(username)}" type="submit" value="Delete My Profile">

</form>
<!--</article>-->
</body>
</html>